:root {
  --primary-color: #097896;
  --secondary-color: #f6f3f3;
  --dark-color: #002d7f;
  --light-color: #03a9f4;
  --highlight-color: #ffa500;
  --neutral-color: #ffdb99;
  --disabled-color: #868a94;
}

body {
  background-image: url("../assets/calm-lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

main {
  padding-top: 80px;
  padding-bottom: 80px;
}
